@font-face {
  font-family: 'zeiss';
  src: url('/fonts/zeiss-frutiger/ZEISSFrutigerNextW1G-Reg.ttf');
  font-display: block;
}
@font-face {
  font-family: 'zeissBold';
  src: url('/fonts/zeiss-frutiger/ZEISSFrutigerNextW1G-Bold.ttf');
  font-display: block;
}
